.navigationBar {
  width: 100%;
  margin: 0;
  background: #f0f0f0;
  padding: 6px;
  height: 50px;
}

.mainContainer {
  width: 100%;
  height: 100%;
  margin: 15px;
}

.navbar-toggle {
  float: left;
  margin-left: 15px;
}

@media (min-width: 0) {
  .navbar-toggle {
    display: block; /* force showing the toggle */
  }
}

@media (min-width: 992px) {
  body {
    padding: 0;
  }
  .navbar {
    right: auto;
    background: none;
    border: none;
  }
}