.splash {
  background-color: black;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 100000;
  top: 0;
}

.signin-top {
  background-color: #18CFAA;
  color: white;
  position: relative;
  margin: auto;
  padding: 10px;
  text-align: center;
}

.signin {
  background-color: #18CFAA;
  background-image: url("handraise_icon.png");
  height: 580px;
  color: white;
}

.navbar {
  padding-right: 15px;
}

.blue-background {
  background-color: #3c8dbc;
}

input {
  text-align: center;
}

a {
  cursor: pointer;
}

.logo-mini {
  background-color: #3c8dbc;
}

.center {
  position: relative;
  margin: auto;
  padding: 50px;
  text-align: center;
  
}

.top-margin {
  position: relative;
  margin-top: 15px;
}

.float-center {
  float: none;
  margin: auto;
}

.content {
  min-height: 100px;
}

.col-lg-3 {
  width: 33%;
}

.class-settings {
  margin: auto;
  width: 60%;
}
.small-box {
  border-radius: 5px;
  overflow: hidden;
}

